{% extends 'base' %}

{% block title %}
监控控制台
{% endblock %}

{% block content %}
<div class="span12">
<div class="btn-group">
    <p><a href="#" class="btn btn-large btn-danger">停止网站监控</a></p>
</div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="tabbable" id="tabs-269537">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#panel-331563" data-toggle="tab">第一部分</a>
                </li>
                <li>
                    <a href="#panel-40132" data-toggle="tab">第二部分</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="panel-331563">
                    <p>
                        第一部分内容.
                    </p>
                </div>
                <div class="tab-pane" id="panel-40132">
                    <p>
                        第二部分内容.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block foot %}
    <script src="/static/js/bootstrap-tab.js"></script>
{% endblock %}