{% extends 'base' %}

{% block title %}{{ wb.name }}的详细信息{% endblock %}

{% block content %}


    <div class="hero-unit">
        <h1>{{ wb.name }}</h1>
        <p>{{ wb.description }}</p>
        <a href="{{ wb.url }}" target="_blank" class="btn btn-large btn-inverse">访问&nbsp;&nbsp;&raquo;</a>
    </div>
    <div class="row-fluid">
    <div class="span4">
        <h3>所在服务器</h3>
        <p><b>{{ wb.server }}&nbsp;</b></p>
        <p><a href="/server/detail/{{ wb.server_ID }}/">查看服务器详细信息</a></p>
    </div>
    </div>




{% endblock %}
