<div class="row-fluid">
    <h4>托管的网站</h4>
    <table class="table table-hover">
        <tr>
            <th>名称</th>
            <th>描述</th>
            <th>状况</th>
        </tr>
        {% for web in webs %}
        <tr>
            <td><a href="/web/detail/{{ web._id }}/">{{ web.name }}</a></td>
            <td>{{ web.description }}</td>
            <td>
                {% if web.status_now == 0 %}
                    <span class="label label-success">正常</span>
                {% elif web.status_now == 1 %}
                    <span class="label label-important">无法连接</span>
                {% elif web.status_now == 2 %}
                    <span class="label label-important">url格式错误</span>
                {% else %}
                    <span class="label">等候初始化</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </table>
</div>
<div class="clearfix"><br/><br/><br/></div>
<div class="row-fluid">
    <div class="alert alert-block">
        <h4>谨慎操作</h4><br/>
        <a class="btn btn-warning" href="/server/update/{{ ser._id }}/"><i class="icon-pencil"></i>修改</a>
        <a class="btn btn-danger" href="/server/delete/{{ ser._id }}/"><i class="icon-trash"></i>删除</a>
    </div>
</div>