{% extends 'base' %}

{% block title %}
查询历史
{% endblock %}

{% block head %}
    <style>
        .can {
            width: 500px;
            height: 400px;
        }
    </style>

{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="">网站后台</a> <span class="divider">/</span></li>
        <li><a href="/server/list">服务器</a> <span class="divider">/</span></li>
        <li><a href="/server/detail/{{ ser._id }}/">{{ ser.name }}</a> <span class="divider">/</span></li>
        <li class="active">{{ ser.name }}的历史记录</li>
    </ul>

    <div class="span8">
        <p><b>CPU使用率</b></p>
        <div class="clearfix"></div>
        <canvas id="cpu-usage" class="can" data-type="Line" data-list="{{ cpu_usage_list }}"></canvas>
    </div>

    <div class="span8">
        <p><b>内存使用率</b></p>
        <canvas id="mem-info" class="can" data-type="Line" data-list="{{ mem_info_list }}"></canvas>
    </div>

{% endblock %}

{% block foot %}
    <script>
        $("canvas").each(function(){
			var $canvas = $(this);
			var ctx = this.getContext("2d");
            var data = {
                labels : [1,2,3,4,5,6,7,8,9,10],
                datasets : [
                    {
                        fillColor : "rgba(151,187,205,0.5)",
                        strokeColor : "rgba(151,187,205,1)",
                        pointColor : "rgba(151,187,205,1)",
                        pointStrokeColor : "#fff",
                        data : $canvas.data('list')
                    }
                ]
            };
			var evalString = "new Chart(ctx)." + $canvas.data("type") + "(data);";
			eval(evalString);
		});

    </script>
{% endblock %}