{% extends 'base' %}

{% if servers %}
    {% set ths = ['服务器','IP:PORT','描述','购进日期'] %}
    {% set active_page = "server_list" %}
{% elif locations %}
    {% set ths = ['地点','描述','其他记录','操作'] %}
    {% set active_page = "location_list" %}
{% endif %}

{% block title %}
{{ ths[0] }}列表
{% endblock %}

{% block content %}

<div>
    <table class="table table-hover">
        <tr>
            {% for th in ths %}
                <th>{{ th }}</th>
            {% endfor %}
        </tr>
        {% if servers %}
            {% for server in servers %}
            <tr>
                <td><a href="/server/detail/{{ server._id }}/">{{ server.name }}</a></td>
                <td>{{ server.ip }}</td>
                <td>{{ server.description }}</td>
                <td>{{ server.date }}</td>
            </tr>
            {% endfor %}
        {% endif %}
        {% if locations %}
            {% for location in locations %}
                <tr>
                    <td>{{ location.location }}</td>
                    <td>{{ location.description }}</td>
                    <td>{{ location.notes }}</td>
                    <td><a href="/location/update/{{ location._id }}/">修改</a>|
                        <a href="/location/delete/{{ location._id }}/">删除</a></td>
                </tr>
            {% endfor %}
        {% endif %}

    </table>

</div>

{% endblock %}