{% extends 'base' %}

{% block title %}
信息
{% endblock %}

{% block content %}

    <ul>
        <li>load_avg:<b>{{ load_avg }}</b></li>
        <li>process num:<b>{{ process_num }}</b></li>
        <li>uptime:<b>{{ up_time }}</b></li>
        <li>disk stat:<b>{{ disk_stat }}</b></li>
        <li>cpu info:<b>{{ cpu_info }}</b></li>
        <li>net stat<b>{{ net_stat }}</b></li>
        <li><b></b></li>
        <li><b></b></li>
        <li><b></b></li>
        <li><b></b></li>
    </ul>

{% endblock %}