{% extends 'base' %}

{% block title %}
    创建机房
{% endblock %}

{% import 'form' as form %}

{% if loc_instance is not defined %}
    {% set loc_instance = {'location':'',  'description':'', 'notes':''} %}
    {% set active_page = "location_add" %}
{% endif %}

{% block content %}

<ul class="breadcrumb">
    <li><a href="/">网站后台</a><span class="divider">/</span></li>
    <li><a href="/location/list">机房</a><span class="divider">/</span></li>
    <li class="active">创建机房<span class="divider">/</span></li>
</ul>

<div>
    <form action="" method="POST" name="form" class="form">
        {{ form.input(name='location', label='机房名称', value=loc_instance.location) }}
        {{ form.textarea(name='description', label='描述', placeholder='机房描述',value=loc_instance.description) }}
        {{ form.textarea(name='notes', label='提醒', placeholder='随便写写',value=loc_instance.notes) }}
        {{ form.submit() }}
    </form>
</div>


{% endblock %}
