{% extends 'base' %}

{% block title %}
创建
{% endblock %}

{% import 'form' as form %}

{% if ser_instance is not defined %}
    {% set ser_instance = {'name':'', 'ip':'', 'description':'', 'date':''} %}
{% endif %}

{% block content %}

<div>
    <form action="" method="POST">
        <fieldset>
            <legend>添加服务器</legend>
            {{ form.input(name='name', label='服务器名', value=ser_instance.name) }}
            {{ form.input(name='ip', label='IP:PORT', help_text="IP and PORT, eg: 127.0.0.1:8080.", value=ser_instance.ip) }}
            {{ form.textarea(name='description', label='描述', placeholder='必要信息', value=ser_instance.description) }}
            {{ form.input(name='date', label='购进日期', help_text="购进日期，格式随意。", value=ser_instance.date) }}
            {{ form.select(name='location', label='所在机房', help_text='所在机房', options=locations) }}
        </fieldset>
    </form>
</div>

{% endblock %}