{% extends 'base.html' %}

{% block title %}
    温度
{% endblock %}

{% set active_page = "temp" %}

{% block content %}

    <canvas id="myChart" width="700" height="400"></canvas>
    <p>现在 --- > (每十秒) -- ></p>
{% endblock %}

{% block foot %}
    <script>
    //Get context with jQuery - using jQuery's .get() method.
    var ctx = $("#myChart").get(0).getContext("2d");
    //This will get the first returned node in the jQuery collection.
    var myNewChart = new Chart(ctx);

    var data = {
	labels : [
        {% for t in labels %}
            "{{ t }}",
        {% endfor %}
    ],
	datasets : [
		{
			fillColor : "rgba(220,220,220,0.5)",
			strokeColor : "rgba(220,220,220,1)",
			pointColor : "rgba(220,220,220,1)",
			pointStrokeColor : "#fff",
			data : [
                {% for tt in datas %}
                    {{ tt.temp }},
                {% endfor %}
            ]
		}
	]
    };
    new Chart(ctx).Line(data);
    </script>

{% endblock %}
